# Compiled output
/dist

# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# IDEs and editors
.idea
.vscode
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Testing
coverage
.nyc_output

# Misc
*.tsbuildinfo
.turbo
